body, h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f4f4f4;
    padding: 20px;
}

.game-content {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.buttons button {
    font-size: 24px;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

.buttons button:hover {
    background-color: #555;
    transform: scale(1.05);
}

#result {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.sidebar {
    width: 30%;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.history-list {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

.history-list li {
    margin: 5px 0;
}
